<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/operar">OPERAR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

    </header>



    <main>

        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

                    <div class="row pt-4">

                        <div class="col-12 text-center pb-1">

                            <h3>BALANCE</h3>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 d-flex justify-content-center p-5">

                            <div class="card text-white bg-dark w-75">
                                <div class="card-body">
                                    <h2 class="card-title text-center fs-1 m-0">$
                                        <%=Number.parseFloat(total).toFixed(2)%>
                                    </h2>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

                    <div class="row pt-4">

                        <div class="col-12 text-center">

                            <h3 class="m-0">ULTIMOS 10 MOVIMIENTOS</h3>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 p-5">

                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Tipo</th>
                                    </tr>
                                </thead>

                                <% let i=1 %>

                                    <% array.reverse().forEach((item)=> { %>

                                        <% if (i <= 10) { %> 

                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <%=i%>
                                                </th>
                                                <td>
                                                    <%=item.concepto%>
                                                </td>
                                                <td>$<%=Number.parseFloat(item.monto).toFixed(2)%>
                                                </td>
                                                <td>
                                                    <%=item.fecha%>
                                                </td>
                                                <td>
                                                    <%=item.tipo%>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <% } %> 

                                        <% i++; }) %>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>




    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Alkemy - Challenge
        </div>
        <!-- Copyright -->
    </footer>



    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>

</body>

</html>